@font-face{
	font-family: Arnhem;
	src: url("/fonts/Arnhem-Normal.otf") format("opentype");
}

@font-face {
font-family: Arnhem;
font-weight: bold;
src: url("/fonts/Arnhem-Bold.otf") format("opentype");
}

body{
	font-family: Arnhem;
}

.section{
	padding-top: 60px;

}

.draggable{
	cursor: pointer;
}

.tagline{
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.location{
	padding-top: 100px;
	font-size: 15px;
}

.rsvp{
	padding-top: 30px;
	font-size: 70px;
}

.headshot {
	position: relative;
	width: 100%;
	min-height: 240px;
	margin-bottom: 20px;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
	// margin: 20px;
}

.headshot > .overlay {
	position: absolute;
	width: 100%; height: 100%;
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	z-index: 1;
	background-color: rgba(255,0,255,0.4);
}

.headshot > .content {
	position: absolute;
	/*font-size: 20px;*/
	width: 100%; height: 100%;
	opacity: 0;
	color: white;
	z-index: 2;
	padding: 25px;
	text-align: left;
}

.headshot > .content > .header{
	font-size: 20px;
}

.headshot > .content > .description{
	font-size: 14px;
}

.headshot:hover > .overlay {
	opacity: 1;
}
.headshot:hover > .content {
	opacity: 1;
}

.headshot.justine1{
	background-image: url('/images/justine1.jpg');
}

.headshot.justine2{
	background-image: url('/images/justine2.jpg');
}

.headshot.olivia{
	background-image: url('/images/olivia.jpg');
}

.headshot.becky{
	background-image: url('/images/becky.jpg');
}

.headshot.jacqui{
	background-image: url('/images/jacqui.jpg');
}

.headshot.kenta{
	background-image: url('/images/kenta.jpg');
}

.headshot.martina{
	background-image: url('/images/martina.png');
}

.headshot.zach{
	background-image: url('/images/zach.jpg');
}

.headshot.jaime{
	background-image: url('/images/jaime.jpg');
}

.headshot.elif{
	background-image: url('/images/elif.jpg');
}

.headshot.control{
	background-image: url('/images/control.jpg');
}

.headshot.abigail{
	background-image: url('/images/abigail.jpg');
}

.curatorbox{
	width: 100%;
	padding-bottom: 20px;
}

.pink{
	color: #FF00FF;
	font-style: italic;
}

.accent{
	font-size: 22px;
	font-weight: bold;
	text-align: right;
}

.inst{
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	border-style: solid;
	border-color: #FF00FF;
}

.footer{
	border-top-style: solid;
	border-top-color: #FF00FF;
}


